.minor-section {
    font-size: medium;
    background-color: aquamarine;
    border: dotted 10px lavender;
}
body {
    background-color:rgb(235, 255, 206);
}
#content {
    background-color: violet;
}