.minor-section {
    font-size: medium;
    background-color: aquamarine;
    border: dotted 10px lavender;
}
body {
    background-color:rgb(235, 255, 206);
}
#content {
    background-color: violet;
}

.new-section {
    background-color: aliceblue;

    .text {
        margin-bottom: 10px; 
        font-family: Arial, Helvetica, sans-serif;
    }
  
    .text p {
        padding: 10px;
        border-radius: 8px;
    }
  
    .text:nth-child(odd) p {
        padding-left: 15px;
        background-color: #989d9e; 
        text-align: left;
    }
  
    .text:nth-child(even) p {
        padding-right: 15px;
        background-color: #2989ea; 
        text-align: right;
    }
}