  h1 {
    color:lightsalmon
  }

  p {
    font-family: "papyrus";
    text-indent: 40px;
    margin-left: 15px;
  }

  #content{
    background-color: #17f4c4;
    width: 400px;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
  }